<div class="jumbotron center">
	<style>
		h1 {
			color: red;
		}
	</style>
<h1>Welcome to the FAQ Project</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-defult btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
